* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    color: brown;
    padding: 50px 40px 50px 40px;
	justify-content: center;
	align-items: center;
}

a {
    color: #406765;
}
 a:visited {
    color: darkred;
 }

a:hover {
    color: darkgreen;
}

.left {
	position: initial;
	background-color: #e2e5de;
	padding: 10px;
}

.home {
	padding: 20px;
}